/Practicas/build/
/Practicas/nbproject/private/
/PracticasResueltas/Practica0/build/
/PracticasResueltas/Practica0/nbproject/private/
/Proyecto - CinquilloOro/dist/README*
/Proyecto - CinquilloOro/dist/*.jar
